# # Core
aiogram==3.28.0
aiohttp==3.13.5
python-dotenv==1.2.2

# Database & State
pymongo==4.17.0
dnspython==2.8.0
redis==7.4.0

# Performance
orjson==3.11.9
aiofiles==25.1.0
aiodns==4.0.0

# Features & Utils
dawg2==0.13.3
psutil==7.2.2
